# Django Settings
DEBUG=False
SECRET_KEY=change-me-in-production-use-a-long-random-string
ALLOWED_HOSTS=*

# Database Settings
POSTGRES_PASSWORD=secure-db-password
DB_NAME=diplom_db
DB_USER=diplom_user

# Monitoring
GRAFANA_PASSWORD=admin_secure_password
# DB_HOST=postgres-postgis  # Used inside docker network
# DB_PORT=5432              # Used inside docker network

# Yandex Disk API
YADISK_TOKEN=your_token_from_yandex_disk

# Redis (Optional if using Celery)
REDIS_URL=redis://redis:6379/0

# Nginx / SSL
DOMAIN_NAME=yourdomain.com
EMAIL=your@email.com
