# Django Settings
DEBUG=True
SECRET_KEY=demo-secret-key-for-local-use-12345
ALLOWED_HOSTS=localhost,127.0.0.1,django-app

# Database Settings
POSTGRES_PASSWORD=admin
DB_NAME=diplom_db
DB_USER=admin

# Monitoring
GRAFANA_PASSWORD=admin
# DB_HOST=postgres-postgis  # Used inside docker network
# DB_PORT=5432              # Used inside docker network

# Yandex Disk API
YADISK_TOKEN=your_token_from_yandex_disk

# Redis (Optional if using Celery)
REDIS_URL=redis://redis:6379/0

# Nginx / SSL
DOMAIN_NAME=yourdomain.com
EMAIL=your@email.com
